body {
  min-width: 1024px;
  max-width: 1400px;
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
  background: black;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-position-x: center;
  background-size: cover;
}

.earth-image {
  background: url(/assets/images/earth.jpg) #000 no-repeat;
}

.crowd-image {
  background: url(/assets/images/crowd.jpg) #000 no-repeat;
}

.urban-image {
  background: url(/assets/images/urban.jpg) #000 no-repeat;
}

.distance-image {
  background: url(/assets/images/distance.jpg) #000 no-repeat;
}

.floorarea-image {
  background: url(/assets/images/floorarea.jpg) #000 no-repeat;
}

.warmth-image {
  background: url(/assets/images/warmth.jpg) #000 no-repeat;
}

.appliances-image {
  background: url(/assets/images/appliances.jpg) #000 no-repeat;
}

.calories-image {
  background: url(/assets/images/calories.jpg) #000 no-repeat;
}

.meat-image {
  background: url(/assets/images/meat.jpg) #000 no-repeat;
}

.stuff-image {
  background: url(/assets/images/stuff.jpg) #000 no-repeat;
}

.freight-image {
  background: url(/assets/images/freight.jpg) #000 no-repeat;
}

.cars-image {
  background: url(/assets/images/cars.jpg) #000 no-repeat;
}

.efficientcars-image {
  background: url(/assets/images/efficientcars.jpg) #000 no-repeat;
}

.insulation-image {
  background: url(/assets/images/insulation.jpg) #000 no-repeat;
}

.appliance-efficiency-image {
  background: url(/assets/images/appliance-efficiency.jpg) #000 no-repeat;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  text-transform: uppercase; }

h1 {
  text-shadow: 0 0 1em black;
  color: white;
  font-size: 2.5rem;
  margin-top: 10px;
}

h2 {
  text-shadow: 0 0 1em black;
  color: white;
  font-size: 2rem;
  margin-top: 50px;
}

.highlight {
  background-color: rgba(255,0,0,0.65);
}

#title {
  position: fixed;
  left: 10px;
  top: 10px;
  color: white;
}

#title a, #jump a {
  color: white;
  text-decoration: none;
}

#title a:hover, #jump a:hover {
  text-decoration: underline;
}

#jump {
  position: fixed;
  color: white;
  top: 139px;
  left: 0px;
  padding: 10px;
  width: 200px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 1em black;
}

#jump a {
  display: block;
}

#consequences {
  color: white;
  width: 200px;
  padding: 10px;
  height: 200px;
  position: fixed;
  right: 0px;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 1em black;
}

#consequences.loading span {
  color: #999;
}

#controls {
  position: relative;
  margin: 10px 250px;
  max-width: 880px;
}
.intro, .choice {
  box-shadow: 0 0 1em black;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

#intro {
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 0px;
  width: 400px;
  float: left;
}

#intro p {
  margin-top: 0px;
  margin-bottom: 9px;
}

#video {
  border: rgba(255,255,255,0.7) solid 1px;
  width: 415px;
  height: 315px;
  float: left;
}

.level {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px black;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-align: center;
}

.level > div {
  width: 150px;
  display:table-cell;
   vertical-align:middle;
   text-align: center;
   height:inherit;
}

.level:hover {
  border: solid 1px #f00;
}
